---
import Icon from './ui/Icon.astro'
---

<!-- Back to Top Button -->
<button
  id="back-to-top"
  class="bg-canvas pointer-events-none fixed right-6 bottom-6 z-50 rounded-full p-3 opacity-0 shadow-lg transition-all duration-300 ease-in-out outline-none"
  aria-label="Back to Top"
>
  <Icon name="chevron-down" class="text-fg-inverted size-4 rotate-180" />
</button>

<script>
  // Back to Top functionality

  function toggleBackToTopButton(backToTopButton?: HTMLElement | null) {
    // Show button when scrolled down more than 200 pixels
    if (window.scrollY > 200) {
      backToTopButton?.classList.remove('opacity-0', 'pointer-events-none')
      backToTopButton?.classList.add('opacity-100', 'cursor-pointer')
    } else {
      backToTopButton?.classList.remove('opacity-100', 'cursor-pointer')
      backToTopButton?.classList.add('opacity-0', 'pointer-events-none')
    }
  }

  document.addEventListener('astro:page-load', () => {
    const backToTopButton = document.getElementById('back-to-top')

    toggleBackToTopButton(backToTopButton)

    // Add scroll event listener
    window.addEventListener('scroll', () =>
      toggleBackToTopButton(backToTopButton),
    )

    // Add click event to scroll to top
    backToTopButton?.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    })
  })
</script>
