---
import Icon from './ui/Icon.astro'
---

<button
  class="theme-toggle z-50 inline-flex items-center justify-center rounded-md p-2"
  aria-label="Theme Toggle"
  data-theme-toggle
>
  <Icon name="sun" class="sun-icon hidden size-4" />
  <Icon name="moon" class="moon-icon hidden size-4" />
</button>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const buttons = document.querySelectorAll('[data-theme-toggle]')
    const root = document.documentElement

    const getTheme = () =>
      localStorage.getItem('theme') ||
      (window.matchMedia('(prefers-color-scheme: dark)').matches
        ? 'dark'
        : 'light')

    const updateIcons = theme => {
      buttons.forEach(button => {
        button
          .querySelector('.sun-icon')
          .classList.toggle('hidden', theme === 'dark')
        button
          .querySelector('.moon-icon')
          .classList.toggle('hidden', theme !== 'dark')
      })
    }

    const applyTheme = theme => {
      root.dataset.theme = theme
      localStorage.setItem('theme', theme)
      updateIcons(theme)
    }

    if (window.__themeToggleInitialized) return
    window.__themeToggleInitialized = true

    buttons.forEach(button => {
      button.addEventListener('click', e => {
        e.stopPropagation()
        applyTheme(root.dataset.theme === 'dark' ? 'light' : 'dark')
      })
    })

    applyTheme(getTheme())
  })
</script>

<style>
  body:has(#mobile-menu.open) [data-theme-toggle] {
    color: var(--fg-muted-inverted);
  }
</style>
