---
import Container from '~/components/shared/Container.astro'
import Icon from '~/components/ui/Icon.astro'
import { getTranslations } from '~/i18n'
import type { Language } from '~/i18n/types'
import config from '~/site-config.json'

export type Props = {
  lang: Language
}

const { lang } = Astro.props

const t = getTranslations(lang)
---

<section
  class="animate-fade-up mt-24 opacity-0 sm:mt-32 md:mt-56"
  id="contact"
  style={{ animationDelay: '0.3s', animationFillMode: 'forwards' }}
>
  <Container>
    <header class="mb-24 flex flex-col gap-4">
      <h1 class="text-2xl sm:text-4xl">{t['contact.title']}</h1>
      <p class="text-fg-muted text-xl font-light">
        {t['contact.subtitle']}
      </p>
    </header>

    <div class="grid gap-6 md:grid-cols-2">
      <div class="group hover:bg-fg/10 border-fg/10 border transition-all">
        <a
          href={`mailto:${config.social.email}?subject=Consulta%20sobre%20servicios`}
          class="flex items-center gap-4 px-6 py-8"
        >
          <Icon name="envelope-closed" class="text-fg-muted/50 size-5" />
          <div class="flex-1">
            <h1>{t['contact.email']}</h1>
            <p class="text-fg-muted">{config.social.email}</p>
          </div>
          <Icon name="external-link" class="text-fg-muted size-4" />
        </a>
      </div>
      <div class="group hover:bg-fg/10 border-fg/10 border transition-all">
        <a href={config.social.github} class="flex items-center gap-4 p-6">
          <Icon name="github-logo" class="text-fg-muted/50 size-5" />
          <div class="flex-1">
            <h1>{t['contact.contribute']}</h1>
            <p class="text-fg-muted">@tinogasta-labs</p>
          </div>
          <Icon name="external-link" class="text-fg-muted size-4" />
        </a>
      </div>
    </div>
  </Container>
</section>
