---
import Container from '~/components/shared/Container.astro'
import { getTranslations } from '~/i18n'
import type { Language } from '~/i18n/types'
import config from '~/site-config.json'

export type Props = {
  lang: Language
}

const { lang } = Astro.props

const t = getTranslations(lang)
---

<section
  class="animate-fade-up mx-auto mt-24 max-w-6xl opacity-0 sm:mt-32 sm:px-6 md:mt-56"
  style={{ animationDelay: '0.3s', animationFillMode: 'forwards' }}
>
  <div class="bg-canvas rounded-4xl px-8 py-16 sm:px-16 sm:py-32" id="contact">
    <Container>
      <header class="mb-12 flex flex-col gap-4">
        <h1 class="text-fg-inverted text-2xl font-medium sm:text-4xl">
          {t['contact.title']}
        </h1>
        <p class="text-fg-muted-inverted text-xl leading-6">
          {t['contact.subtitle']}
        </p>
      </header>

      <div class="flex items-center gap-4">
        <a
          href={`mailto:${config.social.email}?subject=Consulta%20sobre%20servicios`}
          class="border-canvas bg-canvas-primary dark:bg-fg dark:text-canvas-primary text-fg inline-flex h-12 cursor-pointer items-center rounded-full border px-6 text-sm"
          >{t['cta.contact']}</a
        >
        <a
          href={config.social.github}
          target="_blank"
          rel="noreferrer noopener"
          class="border-canvas-primary dark:border-fg text-fg-inverted inline-flex h-12 cursor-pointer items-center rounded-full border px-6 text-sm"
        >
          {t['cta.contribute']}</a
        >
      </div>
    </Container>
  </div>
</section>
