---
import Container from '~/components/shared/Container.astro'
import Icon from '~/components/ui/Icon.astro'
---

<section class="py-16 md:py-24" id="contact">
  <Container>
    <header class="mb-16 flex flex-col gap-2">
      <h1 class="text-2xl sm:text-4xl">Get in touch</h1>
      <p class="text-fg-muted sm:text-lg">
        Have a question or interested in our services? Reach out to us or
        contribute to our open source projects.
      </p>
    </header>

    <div class="grid gap-6 md:grid-cols-2">
      <div class="group hover:bg-fg/10 border-fg/10 border transition-all">
        <a
          href="mailto:contact@tinogasta-labs.com"
          class="flex items-center gap-4 p-6"
        >
          <Icon name="envelope-closed" class="size-5" />
          <div class="flex-1">
            <h1>Email Us</h1>
            <p class="text-fg-muted">contact@tinogasta-labs.com</p>
          </div>
          <Icon name="external-link" class="text-fg-muted size-4" />
        </a>
      </div>
      <div class="group hover:bg-fg/10 border-fg/10 border transition-all">
        <a
          href="https://github.com/tinogasta-labs"
          class="flex items-center gap-4 p-6"
        >
          <Icon name="github-logo" class="size-5" />
          <div class="flex-1">
            <h1>Contribute</h1>
            <p class="text-fg-muted">@tinogasta-labs</p>
          </div>
          <Icon name="external-link" class="text-fg-muted size-4" />
        </a>
      </div>
    </div>
  </Container>
</section>
