---
import Container from '~/components/shared/Container.astro'
import config from '~/site-config.json'
---

<section class="mt-24 sm:mt-32 md:mt-56">
  <Container>
    <h1 class="text-4xl font-light tracking-tight sm:text-[64px]">
      We develop <span class="block">open source tools</span> that your clients loves.
    </h1>
    <p class="text-fg-muted mt-6 text-xl font-light">
      Building secure, high-performance applications for the community.
    </p>
    <div class="mt-12 flex items-center gap-4">
      <a
        href={`mailto:${config.social.email}`}
        class="border-primary bg-primary text-on-primary inline-flex h-12 cursor-pointer items-center rounded-full border px-6 text-sm"
        >Get in touch</a
      >
      <a
        href={config.social.github}
        target="_blank"
        rel="noreferrer noopener"
        class="border-fg inline-flex h-12 cursor-pointer items-center rounded-full border px-6 text-sm"
      >
        Contribute</a
      >
    </div>
  </Container>
</section>
