---
import Container from '~/components/shared/Container.astro'
---

<section class="mt-16">
  <Container>
    <h1 class="text-4xl font-light sm:text-7xl">
      We develop <span class="block">open source tools</span> that your clients loves.
    </h1>
    <p class="mt-4 font-light md:text-2xl">
      Building secure, high-performance applications for the community.
    </p>
    <div class="mt-6 flex items-center gap-4">
      <button
        class="h-12 cursor-pointer rounded-full border border-white bg-white px-6 text-sm text-black"
        >Get in touch</button
      >
      <button
        class="h-12 cursor-pointer rounded-full border border-white px-6 text-sm"
      >
        Contribute</button
      >
    </div>
  </Container>
</section>
