---
import BaseHead from '~/components/shared/BaseHead.astro'
import Container from '~/components/shared/Container.astro'
import Icon from '~/components/ui/Icon.astro'
import '~/styles/global.css'

interface Props {
  title?: string
  description?: string
  keywords?: string[]
  image?: string
}

const { title, description, keywords, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      keywords={keywords}
      image={image}
    />
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <header class="px-6">
        <Container>
          <div class="flex h-20 items-center justify-between">
            <a href="/" class="text-lg">Tinogasta Labs</a>
            <button class="md:hidden">
              <Icon name="menu" class="size-5" />
            </button>
          </div>
        </Container>
      </header>
      <main class="flex-1 px-6">
        <slot />
      </main>
      <footer class="flex h-24 items-center px-6">
        <p class="text-fg-muted w-full text-center">
          This site is under construction.
        </p>
      </footer>
    </div>
  </body>
</html>
