---
import type { IconName } from '@/icon-name'

interface Props {
  name: IconName
  class?: string
  title?: string
  id?: string
}

const { name, class: className, id, title = name } = Astro.props
---

<svg class={className} id={id}>
  <title>{title}</title>
  <use href={`/assets/icons/sprite.svg#${name}`}></use>
</svg>
